body {
    padding: 0;
    margin: 0;
}

html, body, #fnbr_map {
    height: 100%;
    width: 100vw;
}

.leaflet-container {
    background: rgba(0, 0, 0, 0.0) !important; /* transparent outside-bounds background color */
    cursor: default !important;
}

.leaflet-drag-target {
    cursor: grabbing !important;
}

.coords-div-icon {
    font-size: 16px;
    color: white;
    font-family: Arial, sans-serif;
    text-align: right;
}

#map-menu > a {
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    color: #000;
    text-decoration: none;
    line-height: 2.5;
    text-indent: 10px;
}

#map-menu > a:hover {
    background-color: #e2e2e2;
}
