body {
    padding: 0;
    margin: 0;
}

html, body, #fnbr_map {
    height: 100%;
    width: 100vw;
}

.leaflet-container {
    background: rgba(0, 0, 0, 0.0) !important; /* transparent outside-bounds background color */
    cursor: default !important;
}

.leaflet-drag-target {
    cursor: grabbing !important;
}

.coords-div-icon {
    font-size: 16px;
    color: white;
    font-family: Arial, sans-serif;
    text-align: right;
}

#map-menu {
    min-width: 200px;
    background-color: rgb(255, 255, 255);
    display: none;
    position: relative;
    z-index: 2000;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#map-menu > a {
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    color: #000;
    text-decoration: none;
    padding: 4px 16px 4px 16px;
}

#map-menu > a:hover {
    background-color: #e2e2e2;
}

#new-point {
    position: fixed;
    width: calc(250px - 24px);
    height: calc(100% - 24px);
    background-color: #FFF;
    bottom: 0;
    right: -285px;
    z-index: 2100;
    transition: right 0.5s ease 0s;
    box-shadow: rgba(187, 187, 187, 0.8) -20px 0 20px 0;
    padding: 12px;
}

#new-point > .close-btn {
    background-color: rgba(255, 255, 255, 0);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Console', monospace;
    font-weight: bold;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    float: right;
    top: -12px;
    right: -12px;
    position: relative;
    cursor: pointer;
}

.clear-fix {
    clear: both !important;
}

#crosshair {
    position: fixed;
    z-index: 2001;
    display: none;
}

.crosshair-center {
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.0);
    width: 12px;
    height: 12px;
    border-radius: 5em;
    border: 2px solid red;
    top: -8px;
    left: -8px;
}

.crosshair-top {
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.0);
    width: 6px;
    height: 6px;
    top: -13px;
    left: -7px;
    border-right: 2px solid red;
}

.crosshair-right {
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.0);
    width: 6px;
    height: 6px;
    top: -7px;
    left: 7px;
    border-bottom: 2px solid red;
}

.crosshair-bottom {
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.0);
    width: 6px;
    height: 6px;
    left: -1px;
    top: 7px;
    border-left: 2px solid red;
}

.crosshair-left {
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.0);
    width: 6px;
    height: 6px;
    left: -13px;
    top: -1px;
    border-top: 2px solid red;
}

#error-box {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10000;
    background-color: #000;
    color: #FFF;
    display: none;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 10px 35px;
    text-align: center;
    top: 25px;
    max-width: 50%;
}
