body {
    padding: 0;
    margin: 0;
}

html, body, #fnbr_map {
    height: 100%;
    width: 100vw;
}

.leaflet-container {
    /* bakcground color */
    /*background: rgba(0, 0, 0, 0.0) !important; !* transparent outside-bounds background color *!*/
    background: #e17ee8 !important; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #e17ee8 0%, #c420ca 50%, #9a1e96 100%) !important; /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #e17ee8 0%, #c420ca 50%, #9a1e96 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #e17ee8 0%, #c420ca 50%, #9a1e96 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e17ee8', endColorstr='#9a1e96', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    /* */
    cursor: default !important;
}

.leaflet-drag-target {
    cursor: grabbing !important;
}

.coords-div-icon {
    font-size: 16px;
    color: white;
    line-height: normal;
    text-align: center;
    /*width: 24px !important;*/
    /*height: 24px !important;*/
    /*font-family: Arial, sans-serif;*/
    /*margin-top: -12px !important;*/
    /*margin-left: -19px !important;*/
    /*width: 20px !important;*/
    /*height: 20px !important;*/
    /*text-align: center;*/
    /*top: 4px !important;*/
}

.number-div-icon {
    font-size: 12px;
    color: white;
    line-height: normal;
    text-align: center;
    z-index: 5000 !important;
}

#map-menu {
    min-width: 200px;
    background-color: rgb(255, 255, 255);
    display: none;
    position: relative;
    z-index: 2000;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#map-menu > a {
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    color: #000;
    text-decoration: none;
    padding: 4px 16px 4px 16px;
}

#map-menu > a:hover {
    background-color: #e2e2e2;
}

#new-point {
    position: fixed;
    width: calc(250px - 24px);
    height: calc(100% - 24px);
    background-color: #FFF;
    bottom: 0;
    right: -285px;
    z-index: 2100;
    transition: right 0.5s ease 0s;
    box-shadow: rgba(187, 187, 187, 0.8) -20px 0 20px 0;
    padding: 12px;
}

#new-point > .close-btn {
    background-color: rgba(255, 255, 255, 0);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Console', monospace;
    font-weight: bold;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    float: right;
    top: -12px;
    right: -12px;
    position: relative;
    cursor: pointer;
}

.clear-fix {
    clear: both !important;
}

#crosshair {
    position: fixed;
    z-index: 2001;
    display: none;
}

.crosshair-center {
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.0);
    width: 12px;
    height: 12px;
    border-radius: 5em;
    border: 2px solid red;
    top: -8px;
    left: -8px;
}

.crosshair-top {
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.0);
    width: 6px;
    height: 6px;
    top: -13px;
    left: -7px;
    border-right: 2px solid red;
}

.crosshair-right {
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.0);
    width: 6px;
    height: 6px;
    top: -7px;
    left: 7px;
    border-bottom: 2px solid red;
}

.crosshair-bottom {
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.0);
    width: 6px;
    height: 6px;
    left: -1px;
    top: 7px;
    border-left: 2px solid red;
}

.crosshair-left {
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.0);
    width: 6px;
    height: 6px;
    left: -13px;
    top: -1px;
    border-top: 2px solid red;
}

#error-box {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10000;
    background-color: #000;
    color: #FFF;
    display: none;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 10px 35px;
    text-align: center;
    top: 25px;
    max-width: 50%;
}

.grayed-out {
    filter: grayscale(100%);
}

.bg-spikes > div {
    background-color: #FFF;
    opacity: 0.67;
    position: absolute;
    background-size: cover;
}

.bg-spikes > div:nth-child(1) {
    width: 200px;
    height: 100px;
    left: 100px;
    -webkit-clip-path: polygon(0% 0%, 40% 0%, 100% 100%);
    clip-path: polygon(0% 0%, 40% 0%, 100% 100%);
}

.bg-spikes > div:nth-child(2) {
    width: 250px;
    height: 100px;
    top: 100px;
    -webkit-clip-path: polygon(0% 0%, 0% 25%, 100% 100%);
    clip-path: polygon(0% 0%, 0% 25%, 100% 100%);
}

.bg-spikes > div:nth-child(3) {
    width: 300px;
    height: 100px;
    right: 25px;
    -webkit-clip-path: polygon(0% 100%, 100% 0%, 70% 0%);
    clip-path: polygon(0% 100%, 100% 0%, 70% 0%);
}

.bg-spikes > div:nth-child(4) {
    width: 200px;
    height: 100px;
    right: 0;
    bottom: 100px;
    -webkit-clip-path: polygon(0% 0%, 100% 55%, 100% 100%);
    clip-path: polygon(0% 0%, 100% 55%, 100% 100%);
}

.bg-spikes > div:nth-child(5) {
    width: 225px;
    height: 170px;
    right: 100px;
    bottom: 0;
    -webkit-clip-path: polygon(0% 0%, 80% 100%, 100% 100%);
    clip-path: polygon(0% 0%, 80% 100%, 100% 100%);
}

.bg-spikes > div:nth-child(6) {
    width: 250px;
    height: 100px;
    bottom: 0;
    left: 50px;
    -webkit-clip-path: polygon(0% 100%, 35% 100%, 100% 0%);
    clip-path: polygon(0% 100%, 35% 100%, 100% 0%);
}